.place__paragraph-column {
    max-width: 484px;
    margin-top: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.place__paragraph-column:last-child {
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 1279px) {
    .place__paragraph-column {
            max-width: 456px;
        }
}
@media (max-width: 1023px) {
    .place__paragraph-column {
            max-width: 352px;
            margin-top: 0;
            margin-bottom: 26px;
        }
}
@media (max-width: 767px) {
    .place__paragraph-column {
            max-width: 320px;
            margin-top: 0;
            margin-bottom: 25px;
        }
}